.new {
    color: red;
    font-weight: bold;
}

div.verticalLine {
    border-left:   solid #A0A0A0;
    padding-left:  3rem;
}

img {
    max-width: 100%;
    height: auto;
}

img.alignCenter {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
}

img.topRight {
    position: absolute;
    top:      0px;
    right:    0px;
}

/* hide top book images on mobile */
@media (max-width:629px) {
  div.books {
    display: none;
  }
}

img.book {
	width: 200px;
	height: 275px;
}

img.scaled {
    width: 100%;
}

.header ul li {
    margin:5px;
    padding:5px;
    width: 200;
    height:300px;
    float: right; 
    list-style:none;
}

dl {
    border: 1px dotted #ccc;
    padding: 0.5em;
}
dl:after {
	content: "";
	display: table;
	clear:   both;
}

dt::after {
    content: ":";
}
dt {
    float: left;
    width: 25%;
    text-align: right;
    padding: .15em;
    clear: left;
	font-weight: bold;
}
dd {
    float: left;
    width: 65%;
    padding: .25em 0;
}

div.footnotes {
    font-size: 12px;
    font-style: italic; 
}

/* Start quote style */
blockquote {
    font-style: italic; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
} 

blockquote div.attribution {
    text-align: right;
    font-weight: bold;
}

/* End quote style */

figcaption {
    text-align: center;
    font-style: italic; 
}

div.footnotes p {
    margin: 5px;
}

figure.captioned {
    float: right;
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}

figure.captioned-left {
    float: left;
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}

/* Start TOC style */

.table-of-contents {
    padding: 1em 2em;
    margin: 0 0 0.5em 0.5em;
}
.table-of-contents ul {
    padding: 0;
}
.table-of-contents li {
    margin: 0 0 0.25em 0;
    list-style: none
}
.table-of-contents a {
    text-decoration: none;
}
.table-of-contents a:hover,
.table-of-contents a:active {
    text-decoration: none;
}

.fa_custom {
    color: #d3d3d3;
    font-size:5;
}

/* indentation to {{TOC}} */
.indent-1 { text-indent: 0%; }
.indent-2 { text-indent: 4%; }
.indent-3 { text-indent: 8%; }
.indent-4 { text-indent: 12%; }
.indent-5 { text-indent: 16%; }
.indent-6 { text-indent: 20%; }

/* End TOC style */

/* Start pagination style */

.pagination {
    display:       inline-block;
    border:        thin silver solid;
    border-radius: 5px;
    padding:       2px 2px;
}

.pagination a {
    color:           black;
    float:           left;
    padding:         8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: silver;
    color:            white;
    border-radius:    5px;
}

.pagination .inactive {
    color:           black;
    float:           left;
    padding:         8px 16px;
    text-decoration: none;
    color:           silver;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius:    5px;
}

/* If the text overflows, allow horizontal scrolling. This is mainly for
   codeblocks. */
pre.scrolled {
    overflow-x: auto;
}

/* Styles for our "scroll to top" button */

#scrollToTopButton {
	position: fixed;
	bottom: 10px;
	float: right;
	right: 18.5%;
	left: 77.25%;
	max-width: 30px;
	width: 100%;
	font-size: 12px;
	border-color: rgba(85, 85, 85, 0.2);
	background-color: #d3d3d3;
	padding: .5px;
	border-radius: 4px;
   color: white;

}
/*On Hover Color Change*/
#scrollToTopButton:hover {
	background-color: #ddd;
}

a.arrow {
   text-decoration: none;
}
