.new {
    color: red;
    font-weight: bold;
}


div.title {
    text-align: right;
}

div.title h1 {
    border-bottom: hidden;
}

h1 {
    border-bottom: 1px solid #A0A0A0;
}

div.verticalLine {
    border-left:   solid #A0A0A0;
    padding-left:  3rem;
}

img {
    max-width: 100%;
    height: auto;
    opacity: 1;
    margin-right: 25;
    -webkit-box-shadow: 3px 3px 5px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

img.alignCenter {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
}

img.topRight {
    position: absolute;
    top:      0px;
    right:    0px;
}

/* hide top book images on mobile */
@media (max-width:629px) {
  div.books {
    display: none;
  }
}

img.book {
  width: 200px;
  height: 275px;
}

img.scaled {
    width: 100%;
}

.header ul li {
    margin:5px;
    padding:5px;
    width: 200;
    height:300px;
    float: right; 
    list-style:none;
}

dl {
    border: 1px dotted #ccc;
    padding: 0.5em;
}
dl:after {
  content: "";
  display: table;
  clear:   both;
}

dt::after {
    content: ":";
}
dt {
    float: left;
    width: 25%;
    text-align: right;
    padding: .15em;
    clear: left;
    font-weight: bold;
}
dd {
    float: left;
    width: 65%;
    padding: .25em 0;
}

div.footnotes {
    font-size: 12px;
    font-style: italic; 
}

/* Start quote style */
blockquote {
    font-style: italic; 
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom 15px;
    padding-top 15px;
    -webkit-box-shadow: 3px 3px 5px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
} 

blockquote div.attribution {
    text-align: right;
    font-weight: bold;
    font-style: italic; 
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
}

/* End quote style */

figcaption {
    text-align: center;
    font-style: italic; 
}

div.footnotes p {
    margin: 5px;
}

figure.captioned {
    float: right;
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
}

figure.captioned-left {
    float: left;
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
}

/* Start TOC style */

.table-of-contents {
    padding: 1em 2em;
    margin: 0 0 0.5em 0.5em;
}
.table-of-contents ul {
    padding: 0;
}
.table-of-contents li {
    margin: 0 0 0.25em 0;
    list-style: none
}
.table-of-contents a {
    text-decoration: none;
}
.table-of-contents a:hover,
.table-of-contents a:active {
    text-decoration: none;
}

/* Keep the icon somewhat darker to improve contrast */
.fa_custom {
    color: #8a8a8a;
    font-size: 5;
}

/* indentation to {{TOC}} */
.indent-1 { text-indent: 0%; }
.indent-2 { text-indent: 4%; }
.indent-3 { text-indent: 8%; }
.indent-4 { text-indent: 12%; }
.indent-5 { text-indent: 16%; }
.indent-6 { text-indent: 20%; }

/* End TOC style */

/* Start pagination style */

.pagination {
    display:       inline-block;
    border:        thin silver solid;
    border-radius: 5px;
    padding:       2px 2px;
}

.pagination a {
    color:           black;
    float:           left;
    padding:         8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: silver;
    color:            white;
    border-radius:    5px;
}

.pagination .inactive {
    color:           black;
    float:           left;
    padding:         8px 16px;
    text-decoration: none;
    color:           silver;
}

.pagination a:hover:not(.active) {
    background-color: #444;
    border-radius:    5px;
}

/* If the text overflows, allow horizontal scrolling. This is mainly for
   codeblocks. */
pre.scrolled {
    overflow-x: auto;
}

/* Styles for our "scroll to top" button */

#scrollToTopButton {
  position: fixed;
  bottom: 10px;
  float: right;
  right: 18.5%;
  left: 77.25%;
  max-width: 30px;
  width: 100%;
  font-size: 12px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: #8a8a8a;
  padding: .5px;
  border-radius: 4px;
    color: white;
}

/*On Hover Color Change*/
#scrollToTopButton:hover {
  background-color: #444;
}

a {
    color: #067a9e;
}

a.arrow {
   text-decoration: none;
}

time {
  color: #8a8a8a;
  font-style: italic;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* prev/next buttons */

div.prevNext {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


/* padding below youtube videos */
.video-responsive {
    margin-bottom: 20px;
}

ul {
  list-style: disc inside
}

/* https://css-tricks.com/almanac/properties/b/box-shadow/ */
.shadow {
  -webkit-box-shadow: 3px 3px 5px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  margin-bottom:  20px; 
}

/*
 * https://dev.to/alvaromontoro/create-a-tag-cloud-with-html-and-css-1e90
 */
ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}

ul.cloud a[data-weight="1"] { --size: 1; }
ul.cloud a[data-weight="2"] { --size: 2; }
ul.cloud a[data-weight="3"] { --size: 3; }
ul.cloud a[data-weight="4"] { --size: 4; }
ul.cloud a[data-weight="5"] { --size: 5; }
ul.cloud a[data-weight="6"] { --size: 6; }
ul.cloud a[data-weight="7"] { --size: 7; }
ul.cloud a[data-weight="8"] { --size: 8; }
ul.cloud a[data-weight="9"] { --size: 9; }
ul.cloud li:nth-child(2n+1) a { --color: #181; }
ul.cloud li:nth-child(3n+1) a { --color: #33a; }

ul.cloud a {
  --size: 4;
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  color: var(--color);
  display: block;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}

ul.inline {
  list-style-type: none;
  margin: 30px;
  display: flex;
  flex-direction: row;
  padding: 5px; /* this */
}

ul.inline > li {
  text-align: center;
  margin: 5px;  /* and that, will result in a 10px gap */
}

