.new {
    color: red;
    font-weight: bold;
}

div.verticalLine {
    border-left:   solid #A0A0A0;
    padding-left:  3rem;
}

img.alignCenter {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
}

img.topRight {
    position: absolute;
    top:      0px;
    right:    0px;
}

img.book {
	width: 200px;
	height: 275px;
}

.header ul li {
    margin:5px;
    padding:5px;
    width: 200;
    height:300px;
    float: right; 
    list-style:none;
}

dl {
    border: 3px double #ccc;
    padding: 0.5em;
}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}
dt::after {
    content: ":";
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

div.footnotes {
    font-size: 10px;
    font-style: italic; 
}

blockquote {
    font-style: italic; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
} 

figcaption {
    text-align: center;
    font-style: italic; 
}

div.footnotes p {
    margin: 5px;
}

figure.captioned {
    float: right;
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
}

img.scaled {
    width: 100%;
}

.table-of-contents {
    padding: 1em 2em;
    margin: 0 0 0.5em 0.5em;
}
.table-of-contents ul {
    padding: 0;
}
.table-of-contents li {
    margin: 0 0 0.25em 0;
    list-style: none
}
.table-of-contents a {
    text-decoration: none;
}
.table-of-contents a:hover,
.table-of-contents a:active {
    text-decoration: none;
}

.fa_custom {
    color: #d3d3d3;
    font-size:10px;
}
