div.verticalLine {
    border-left:   solid #A0A0A0;
    padding-left:  3rem;
}

img.alignCenter {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
}

img.topRight {
    position: absolute;
    top:      0px;
    right:    0px;
}

img.book {
	width: 200px;
	height: 275px;
}

.header ul li {
   margin:5px;
   padding:5px;
   width: 200;
   height:300px;
   float: right; 
   list-style:none;
}
