body {
    background-color: #222222;
    padding-top: 3em;
}

.container {
    background-color: #FFFFFF;
    padding: 8em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

canvas#starmap {
    border:1px solid #333333;
    cursor: crosshair;
    background-color: black;
    display: block;
}

div#star_id {
    position: relative;
    left: 275px;
    padding: 5px;
}

div#starmap_controls {
    position: relative;
    left: 275px;
    padding: 5px;
}
