ttreerc
*.sw[pon]
/errors.err
*.DS_Store
tmp/
include/
backlog
fixtures/
css/
static/js/search/demo.html
static/js/tags.js
cover_db/
coverage-report/

# Perl-specific patterns
*.log
.env*

# Editor backups
*~
*.swp
*.bak
