*.sw[pon]
/errors.err
*.DS_Store
tmp/
/include/
backlog
fixtures/
/css/
cover_db/
coverage-report/

# Perl-specific patterns
*.log
.env*

# Editor backups
*~
*.swp
*.bak

# Node.js specific patterns
node_modules/

# Perl specific build files
MYMETA.*
blib/
pm_to_blib
_build/
Build
TODO.md

# IDEs
.vscode/
.idea/

# Makefiles
Makefile
Makefile.old

# artifacts of the new editor
404.html
editor.html

nytprof*
