<a href="https://allaroundtheworld.fr/" target="blank">
    <figure class="captioned-left" style="background-color: black; color: white;">
        <img width="600" src="/static/images/logo-shadow.png" alt="Company logo for 'All Around the World">
        <figcaption>We say what we do and do what we say.</figcaption>
    </figure>
</a>
