[%- IF language -%]
<pre class="scrolled"><code class="language-[% language %]">[% content | html %]</code></pre>
[%- ELSE -%]
<pre class="scrolled"><code>[% content | html %]</code></pre>
[%- END -%]
