<!DOCTYPE html>
<html lang="en">
<head>
  [% USE Ovid; USE Config -%]
  <!-- Facebook -->

  <meta property="fb:app_id" content="329861788447703" />
  [% IF facebook %]
  [% # images should be 1200 x 630, but not less than 600 x 315 %]
  <meta property="og:image" content="[% Config.url %]static/images/facebook/[% facebook %]" />
  <meta property="og:image:type" content="[% Ovid.image_type(facebook) %]" />
  [% IF facebook_alt %]<meta property="og:image:alt" content="[% facebook_alt |html%]" />[% END %]
  [% ELSE %]
  <meta property="og:image" content="[% Config.url %]static/images/facebook/ovid-facebook.jpg" />
  <meta property="og:image:alt" content="A black and white image of the author, Curtis “Ovid” Poe." />
  [% END %]
  <meta property="og:type" content="article" />
  [% IF type && slug %]
  <meta property="og:url" content="[% Config.url %][% type %]/[% slug %].html" />
  [% ELSIF identifier %]
  <meta property="og:url" content="[% Config.url %][% identifier %].html" />
  [% ELSE %]
  <meta property="og:url" content="[% Config.url %]" />
  [% END %]
  <meta property="og:title" content="[% title |html %]" />
  <meta property="og:description" content="[% Ovid.this_post(type, slug).description |html %]" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129723079-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129723079-1');
  </script>


  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>[% title | html %]</title>
  <meta name="description" content="[% title | html %]">
  <meta name="author" content="Curtis Poe">
  <link rel="alternate" type="application/rss+xml" title="Subscribe to my technical blog" href="[% Config.url %]article.rss" />
  <link rel="alternate" type="application/rss+xml" title="Subscribe to my personal blog" href="[% Config.url %]blog.rss" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/dialog.css">
  <link rel="stylesheet" href="/css/layout.css">
  [% IF syntax_highlight -%]
  <link rel="stylesheet" type="text/css" href="/static/css/prism.css"/> 
  [% END -%]
  [% IF mathjax -%]
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  [% END %]

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  [% IF use_starmap %]
  <!-- starmap controls -->
  <link rel="stylesheet" type="text/css" href="/css/starmap.css"/> 

  <!-- I can almost get rid of this now, thanks to refactoring -->
  <script type="text/javascript" src="/static/js/prototype.js"></script>

  <!-- this is the starmap renderer -->
  <script type="text/javascript" src="/static/js/starmap.js"></script>

  <!-- this is the data for the current starmap -->
  <script type="text/javascript" src="/static/js/sol.js"></script>
  [% END %]
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout -->
  <div class="container">
    <div class="row books">
        <div class="twelve columns header">
			<ul>
			<li><a
            href="https://www.amazon.com/Perl-Hacks-Programming-Debugging-Surviving/dp/0596526741/"
            target="_blank"><img src="/static/images/perl-hacks.jpg"
            alt="The cover of the 'Perl Hacks' book" class="book"></a></li>
			<li><a
            href="https://www.amazon.com/Beginning-Perl-Curtis-Poe/dp/1118013840/"
            target="_blank"><img src="/static/images/beginning-perl.jpg"
            alt="The cover of the 'Beginning Perl' book" class="book"></a></li>
			<li><img class="book" src="/static/images/profile.png" alt="An
            image of Curtis Poe, holding some electronic equipment in front of
            his face."></li>
			</ul>
        </div>
    </div>
    <div class="row title[% IF Ovid.is_blog(type) %] blog[% END %]">
        <!-- Back to top button -->
        <span aria-hidden="true"><a href="#top" class="arrow"><button id="scrollToTopButton">↑</button></a></span>
        <h1>[% title || "No Title Found" %]</h1>
        [% IF date %]<time>[% date %]</time>[% END %]
		[% IF type == 'articles' or type == 'blog' %]
		<p><span id="time"></span> minute read</p>
		[% END %]
        <hr>
        <div class="twelve columns header">
        </div>
    </div>
    <div class="row">
[% INCLUDE include/links.tt %]
        <div class="nine columns verticalLine article">
[% IF type == 'articles' or type == 'blog' %]
    [% INCLUDE include/pager.tt %]
    [% INCLUDE include/tags_for_article.tt type=type slug=slug %]
        <hr>
    [% INCLUDE include/hiring.tt %]
[% END %]
