<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129723079-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129723079-1');
  </script>


  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>[% title %]</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/css/layout.css">
  [% IF syntax_highlight %]
  <link rel="stylesheet" type="text/css" href="/static/css/prism.css"/> 
  [% END -%]

  [% IF use_starmap %]
  <!-- starmap controls -->
  <link rel="stylesheet" type="text/css" href="/css/starmap.css"/> 

  <!-- I can almost get rid of this now, thanks to refactoring -->
  <script type="text/javascript" src="/static/js/prototype.js"></script>

  <!-- this is the starmap renderer -->
  <script type="text/javascript" src="/static/js/starmap.js"></script>

  <!-- this is the data for the current starmap -->
  <script type="text/javascript" src="/static/js/sol.js"></script>
  [% END %]
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
        <div class="twelve columns header">
			<ul>
			<li><a
            href="https://www.amazon.com/Perl-Hacks-Programming-Debugging-Surviving/dp/0596526741/"
            target="_blank"><img src="/static/images/perl-hacks.jpg" class="book"></a></li>
			<li><a
            href="https://www.amazon.com/Beginning-Perl-Curtis-Poe/dp/1118013840/"
            target="_blank"><img src="/static/images/beginning-perl.jpg" class="book"></a></li>
			<li><img class="book" src="/static/images/profile.png"></li>
			</ul>
        </div>
    </div>
    <div class="row">
[% INCLUDE include/links.tt %]
        <div class="nine columns verticalLine">
            <h1>[% title || "No Title Found" %]</h1>

