<blockquote>We're hiring experienced <strong>Java</strong> and
<strong>Perl</strong> developers for full-time <em>remote</em> contracts on a
number of projects. If you are interested, <a
href="mailto:curtis.poe@gmail.com">email me</a>. We also have one potential
role for an experienced Python developer with OpenAPI + ORM experience.
</blockquote> 

<hr/>
