<blockquote> We're hiring experienced Perl developers for full-time
<em>remote</em> contracts on a number of projects. If you are interested, <a
href="mailto:curtis.poe@gmail.com">email me</a>. We also have one potential
role for an experienced Python developer with OpenAPI + ORM experience.
</blockquote> 

<hr/>
