      <div class="three columns">
        <h1>Links</h1>
        <ul>
          <li><a href="index.html">Home</li>
          <li><a href="publicspeaking.html">Public Speaking</a></li>
          <li><a href="wildagile.html">WildAgile</a></li>
          <li><a href="starmap.html">Starmap</a></li>
          <li><a href="mailto:curtis.poe@gmail.com">Drop me a line</a></li>
        </ul>
      </div>
