[% USE Ovid %]
[% USE tags = Ovid.Tags %]
<strong>Tags</strong>
<ul class="cloud tags-scrollable" role="navigation" aria-label="Tag cloud for Ovid's site">
[% FOREACH tag IN tags.tags_by_weight %]
    <li><a href="/tags/[% tag %].html" data-weight="[% tags.weight_for_tag(tag) %]">[% tags.name_for_tag(tag) %]</a></li>
[% END %]
</ul>
