[% USE Ovid %]
<strong>Tags</strong>
<ul class="cloud tags-scrollable" role="navigation" aria-label="Tag cloud for Ovid's site">
[% FOREACH tag IN Ovid.tags_by_weight %]
    <li><a href="/tags/[% tag %].html" data-weight="[% Ovid.weight_for_tag(tag) %]">[% Ovid.name_for_tag(tag) %]</a></li>
[% END %]
</ul>
