[% USE tag_plugin = Ovid.Tags %]
[% IF tag_plugin.has_articles_for_tag(tag) %]
<ul>
    [% collection = tag_plugin.files_for_tag(tag) %]
    [% WHILE ( file = collection.next ) %]
  <li><a href="/[% file.references %]">[% file.title -%]</a> <time>[% file.date %]</time></li>
    [%- END -%]
</ul>
[% ELSE %]
No articles found for '[% tag %]'.
[% END %]

