[%
    USE Ovid;
    url  = type _ "/" _ slug _ ".html";
    tags = Ovid.tags_for_url(url);
%]
[% IF tags.size %]
<ul class="inline" role="navigation" aria-label="Tag list for this [% type %]">
    <li>Tags:</li>
[% FOREACH tag IN tags %]
    <li><a href="/tags/[% tag %].html">[% Ovid.name_for_tag(tag) %]</a> </li>
[% END %]
</ul>
[% END %]
