[% USE Ovid %]
[% IF Ovid.has_articles_for_tag(tag) %]
<ul>
    [% collection = Ovid.files_for_tag(tag) %]
    [% WHILE ( file = collection.next ) %]
  <li><a href="/[% file.references %]">[% file.title -%]</a> <time>[% file.date %]</time></li>
    [%- END -%]
</ul>
[% ELSE %]
No articles found for '[% tag %]'.
[% END %]

