/* cribbed from https://codepen.io/vlrprbttst/pen/xOoxWo */

.popup-btn {
    text-decoration: none;
}

.popup-btn:hover {
    background: #A0A0A0;
}
.popup {
    position: fixed;
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    border: 3px #ccc;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,.9);
    visibility: hidden;
    opacity: 0;
    /* "delay" the visibility transition */
    -webkit-transition: opacity .2s, visibility 0s linear .2s;
    transition: opacity .2s, visibility 0s linear .2s;
    z-index: 1;
}
.popup:target {
    visibility: visible;
    opacity: 1;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.popup-close {
    position: absolute;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,.9);
}
.popup-body {
    margin: 2em;
}
.popup .close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    color: #000;
    transition: color .1s;
    font-size: 2em;
    line-height: .6em;
    font-weight: bold;
    color: #A0A0A0;
    text-decoration: none;
}
.popup .close:hover {
    color: #A0A0A0;
}

.close-popup {
    background: rgba(0,0,0,.7);
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    /* "delay" the visibility transition */
    -webkit-transition: opacity .2s, visibility 0s linear .2s;
    transition: opacity .2s, visibility 0s linear .2s;
}
.popup:target + .close-popup{  
    opacity: 1;
    visibility: visible;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
