[%
    INCLUDE include/header.tt 
    title         = 'Articles by Ovid, page 2'
    identifier    = 'articles_2'
    canonical_url = "articles-all"
%]

<ul id="articles">
    <li><a href="/articles/escape-adventurs-in-ai-gaming">Escape!-Adventurs in AI Gaming</a></li>
    <li><a href="/articles/using-ai-to-fight-misinformation">Using AI to Fight Misinformation</a></li>
    <li><a href="/articles/ai-for-accessibility">AI for Accessibility</a></li>
    <li><a href="/articles/wardley-maps-in-a-nutshell">Wardley Maps In a Nutshell</a></li>
    <li><a href="/articles/ai-generated-content-innovation-or-intellectual-theft">AI-Generated Content: Innovation or Intellectual Theft?</a></li>
    <li><a href="/articles/agile-is-not-the-problem">Agile is Not the Problem</a></li>
    <li><a href="/articles/programming-mutable-objects">Programming Mutable Objects</a></li>
    <li><a href="/articles/an-openai-chatbot-in-perl">An OpenAI Chatbot in Perl</a></li>
    <li><a href="/articles/claude-sonnet-35-beats-chatgpt-40">Claude Sonnet 3.5 beats ChatGPT 4.0</a></li>
    <li><a href="/articles/will-you-lose-your-job-to-ai">Will You Lose Your Job to AI?</a></li>
</ul>

<p><a href="/articles-all">All Articles in a single page</a></p>

<nav class="pagination">
    <a href="/articles">&laquo;</a>
    <a  href="/articles">1</a>
    <a class="active" href="/articles_2">2</a>
    <a  href="/articles_3">3</a>
    <a  href="/articles_4">4</a>
    <a  href="/articles_5">5</a>
    <a  href="/articles_6">6</a>
    <a  href="/articles_7">7</a>
    <a href="/articles_3">&raquo;</a>
</nav>
[% IF 2 == 1 -%]
<script>
    var latestArticle  = document.getElementById("articles").firstElementChild.innerHTML;
    document.getElementById("articles").firstElementChild.innerHTML = '<em>' + latestArticle + '</em> <span class="new">New!</span>'
</script>
[%- END %]

[% INCLUDE include/footer.tt %]
