[%
    INCLUDE include/header.tt 
    title         = 'Articles by Ovid, page 8'
    identifier    = 'articles_8'
    canonical_url = "articles-all"
%]

<ul id="articles">
    <li><a href="/articles/going-agile-can-hurt-your-company">When going agile can hurt your company</a></li>
</ul>

<p><a href="/articles-all">All Articles in a single page</a></p>

<nav class="pagination">
    <a href="/articles_7">&laquo;</a>
    <a  href="/articles">1</a>
    <a  href="/articles_2">2</a>
    <a  href="/articles_3">3</a>
    <a  href="/articles_4">4</a>
    <a  href="/articles_5">5</a>
    <a  href="/articles_6">6</a>
    <a  href="/articles_7">7</a>
    <a class="active" href="/articles_8">8</a>
    <span class="inactive">&raquo;</span>
</nav>
[% IF 8 == 1 -%]
<script>
    var latestArticle  = document.getElementById("articles").firstElementChild.innerHTML;
    document.getElementById("articles").firstElementChild.innerHTML = '<em>' + latestArticle + '</em> <span class="new">New!</span>'
</script>
[%- END %]

[% INCLUDE include/footer.tt %]
