[%
    INCLUDE include/header.tt 
    title         = 'All Articles by Ovid'
    identifier    = 'articles-all'
    canonical_url = "articles-all.html"
%]

<ul id="articles">
    <li><a href="/articles/the-first-ai-winter.html">The First AI Winter</a></li>
    <li><a href="/articles/why-agi-wont-be-soon.html">Why AGI Won't Be Soon</a></li>
    <li><a href="/articles/a-review-of-openais-new-chatgpt-o1.html">A Review of OpenAI's new ChatGPT o1</a></li>
    <li><a href="/articles/prompt-engineering-is-not-dead.html">Prompt Engineering Is Not Dead</a></li>
    <li><a href="/articles/using-vector-databases-with-perl.html">Using Vector Databases with Perl</a></li>
    <li><a href="/articles/escape-adventurs-in-ai-gaming.html">Escape!-Adventurs in AI Gaming</a></li>
    <li><a href="/articles/using-ai-to-fight-misinformation.html">Using AI to Fight Misinformation</a></li>
    <li><a href="/articles/ai-for-accessibility.html">AI for Accessibility</a></li>
    <li><a href="/articles/wardley-maps-in-a-nutshell.html">Wardley Maps In a Nutshell</a></li>
    <li><a href="/articles/ai-generated-content-innovation-or-intellectual-theft.html">AI-Generated Content: Innovation or Intellectual Theft?</a></li>
    <li><a href="/articles/agile-is-not-the-problem.html">Agile is Not the Problem</a></li>
    <li><a href="/articles/programming-mutable-objects.html">Programming Mutable Objects</a></li>
    <li><a href="/articles/an-openai-chatbot-in-perl.html">An OpenAI Chatbot in Perl</a></li>
    <li><a href="/articles/claude-sonnet-35-beats-chatgpt-40.html">Claude Sonnet 3.5 beats ChatGPT 4.0</a></li>
    <li><a href="/articles/will-you-lose-your-job-to-ai.html">Will You Lose Your Job to AI?</a></li>
    <li><a href="/articles/building-an-iphone-app-with-chatgpt.html">Building an iPhone App with ChatGPT</a></li>
    <li><a href="/articles/dont-start-with-microservices.html">Don't Start with Microservices</a></li>
    <li><a href="/articles/microservices-pros-and-cons.html">Microservices Pros and Cons</a></li>
    <li><a href="/articles/what-to-know-before-debating-type-systems.html">What to Know Before Debating Type Systems </a></li>
    <li><a href="/articles/corinna-in-the-perl-core.html">Corinna in the Perl Core</a></li>
    <li><a href="/articles/tracking-elon-musks-plane-with-perl.html">Tracking Elon Musk's Plane with Perl</a></li>
    <li><a href="/articles/using-github-copilot-with-vim.html">Using Github Copilot with Vim</a></li>
    <li><a href="/articles/all-around-the-world-celebrating-ten-years.html">All Around the World: Celebrating Ten Years</a></li>
    <li><a href="/articles/the-future-of-perl.html">The Future of Perl</a></li>
    <li><a href="/articles/converting-object-oriented-code-to-corinna.html">Converting Object-Oriented Code to Corinna</a></li>
    <li><a href="/articles/feature-switch-best-practices.html">Feature Switch Best Practices</a></li>
    <li><a href="/articles/current-corinna-status.html">Current Corinna Status</a></li>
    <li><a href="/articles/naming-and-object-oriented-code.html">Naming and Object Oriented Code</a></li>
    <li><a href="/articles/understanding-class-inheritance.html">Understanding Class Inheritance</a></li>
    <li><a href="/articles/introducing-moosexextended-for-perl.html">Introducing MooseX::Extended for Perl</a></li>
    <li><a href="/articles/common-problems-in-object-oriented-code.html">Common Problems in Object-Oriented Code</a></li>
    <li><a href="/articles/why-is-object-oriented-programming-bad.html">Why is Object-Oriented Programming Bad?</a></li>
    <li><a href="/articles/are-microservices-the-next-phase-of-object-oriented-programming.html">Are Microservices the Next Phase of Object-Oriented Programming?</a></li>
    <li><a href="/articles/constructive-versus-classical-logic-in-perl.html">Constructive Versus Classical Logic in Perl</a></li>
    <li><a href="/articles/why-is-perl-not-putting-moose-in-the-core.html">Why is Perl not putting Moose in the core?</a></li>
    <li><a href="/articles/language-design-consistency.html">Language Design Consistency</a></li>
    <li><a href="/articles/the-problem-with-builder.html">Classes Should Not Override Parent Attributes</a></li>
    <li><a href="/articles/managing-a-test-database.html">Managing a Test Database</a></li>
    <li><a href="/articles/using-immutable-datetime-objects-with-dbixclass.html">Why Do We Want Immutable Objects?</a></li>
    <li><a href="/articles/easy-git-workflow.html">Easy Git Workflow</a></li>
    <li><a href="/articles/making-complex-software-simple.html">Making Complex Software Simple</a></li>
    <li><a href="/articles/work-from-home-effectively.html">Work From Home Effectively</a></li>
    <li><a href="/articles/database-design-standards.html">Database Design Standards</a></li>
    <li><a href="/articles/automated-software-standards.html">Automated Software Standards</a></li>
    <li><a href="/articles/project-500.html">Case Study: 500 TPS</a></li>
    <li><a href="/articles/moving-from-oracle-to-postgresql.html">Moving from Oracle to PostgreSQL</a></li>
    <li><a href="/articles/managing-a-remote-team.html">Managing a Remote Team</a></li>
    <li><a href="/articles/project-management-in-three-numbers.html">Project Management in Three Numbers</a></li>
    <li><a href="/articles/alan-kay-and-missing-messages-a-follow-up.html">Alan Kay and Missing Messages (a follow-up)</a></li>
    <li><a href="/articles/alan-kay-and-oo-programming.html">Alan Kay and OO Programming</a></li>
    <li><a href="/articles/the-worst-job-offer.html">The Worst Job Offer</a></li>
    <li><a href="/articles/the-tyranny-of-budgets.html">Software Projects as Used Cars</a></li>
    <li><a href="/articles/how-to-defeat-facebook.html">How to Defeat Facebook</a></li>
    <li><a href="/articles/fixing-mvc-in-web-applications.html">Fixing MVC in Web Applications</a></li>
    <li><a href="/articles/avoid-common-software-project-mistakes.html">Avoid Common Software Project Mistakes</a></li>
    <li><a href="/articles/estimating-development-costs-is-almost-useless.html">Estimating Development Costs is Almost Useless</a></li>
    <li><a href="/articles/the-surprises-of-ab-testing.html">The Surprises of A/B Testing</a></li>
    <li><a href="/articles/gdpr-and-bankruptcy.html">GDPR and Bankruptcy</a></li>
    <li><a href="/articles/death-by-database.html">Death by Database</a></li>
    <li><a href="/articles/zen-of-test-suites.html">The Zen of test suites</a></li>
    <li><a href="/articles/how-databases-can-hurt-your-startup.html">How the database can hurt your startup</a></li>
    <li><a href="/articles/a-simple-way-to-fix-legacy-code.html">A simple way to fix legacy code</a></li>
    <li><a href="/articles/when-to-choose-agile.html">When to choose agile</a></li>
    <li><a href="/articles/going-agile-can-hurt-your-company.html">When going agile can hurt your company</a></li>
</ul>

[% INCLUDE include/footer.tt %]
