[%
    title      = 'Articles by Ovid, page 1';
    identifier = 'articles';
%]

[% INCLUDE include/header.tt %]

<ul id="articles">
    <li><a href="/articles/prompt-engineering-is-not-dead.html">Prompt Engineering Is Not Dead</a></li>
    <li><a href="/articles/using-vector-databases-with-perl.html">Using Vector Databases with Perl</a></li>
    <li><a href="/articles/escape-adventurs-in-ai-gaming.html">Escape!-Adventurs in AI Gaming</a></li>
    <li><a href="/articles/using-ai-to-fight-misinformation.html">Using AI to Fight Misinformation</a></li>
    <li><a href="/articles/ai-for-accessibility.html">AI for Accessibility</a></li>
    <li><a href="/articles/wardley-maps-in-a-nutshell.html">Wardley Maps In a Nutshell</a></li>
    <li><a href="/articles/ai-generated-content-innovation-or-intellectual-theft.html">AI-Generated Content: Innovation or Intellectual Theft?</a></li>
    <li><a href="/articles/agile-is-not-the-problem.html">Agile is Not the Problem</a></li>
    <li><a href="/articles/programming-mutable-objects.html">Programming Mutable Objects</a></li>
    <li><a href="/articles/an-openai-chatbot-in-perl.html">An OpenAI Chatbot in Perl</a></li>
</ul>
<nav class="pagination">
    <span class="inactive">&laquo;</span>
    <a class="active" href="/articles.html">1</a>
    <a  href="/articles_2.html">2</a>
    <a  href="/articles_3.html">3</a>
    <a  href="/articles_4.html">4</a>
    <a  href="/articles_5.html">5</a>
    <a  href="/articles_6.html">6</a>
    <a  href="/articles_7.html">7</a>
    <a href="/articles_2.html">&raquo;</a>
</nav>
[% IF 1 == 1 -%]
<script>
    var latestArticle  = document.getElementById("articles").firstElementChild.innerHTML;
    document.getElementById("articles").firstElementChild.innerHTML = '<em>' + latestArticle + '</em> <span class="new">New!</span>'
</script>
[%- END %]

[% INCLUDE include/footer.tt %]
