[%
    title            = 'Time to Invest in Space?';
    type             = 'blog';
    slug             = 'time-to-invest-in-space';
    include_comments = 1;
    syntax_highlight = 1;
    date             = '2022-03-08';
    mathjax          = 0;
    facebook         = 'blue-marble.jpg'; # 1,200 x 628 pixels recommended, but can be smaller
    facebook_alt     = 'It’s our home, but sooner or later, we need to leave.';
    USE Ovid;
%]
[% WRAPPER include/wrapper.tt blogdown=1 -%]

{{TOC}}

# A Brief History of Private Spaceflight

At the end of the 20th century, spaceflight was considered a "national"
endeavor, limited to a few countries such as the United States, Russia,
France, China, Japan, etc. Companies like Boeing, Honeywell,
Roscomos, Arianespace, and others provided space offerings that were attached
to national programs, not private programs.

But at the dawn of the 21st century, things started to change. Jeff Bezos
founded Blue Origin in 2000. Elon Musk founded SpaceX in 2002.  Richard
Branson founded Virgin Galactic in 2004. Blue Origin was in stealth mode. Elon
Musk was laughed at. Virgin Galactic was viewed as the toy of a billionaire
playboy. Bezos, Musk, and Branson, serial entrepreneurs all, saw a future for
spaceflight that others had not. They wanted to create new industries.

At that time, VCs weren't interested in space startups. Investment funds
didn't carry them in their portfolios.  By 2014, when [Google acquired satellite company Skybox
Imaging](https://terrabellatech.blogspot.com/2014/06/skybox-imaging-google.html),
that changed. The era of spaceflight was starting to mature.

[% INCLUDE include/image.tt
   position = "right"
   src      = "/static/images/otrag-rocket-1970s.jpg"
   caption  = "The Otrag Rocket, 1977"
   alt      = "Fair use via: http://www.astronautix.com/o/otrag.html"
%]

But just as many people aren't aware that the internet started long before the
mid-90s, private spaceflight began long before this century.

Commercial satellite launches began in the 1960s, long before humanity landed
on the moon. [The first amateur satellite, OSCAR I, was launched in
1961](http://www.arrl.org/news/oscar-i-and-amateur-radio-satellites-celebrating-50-years),
a scant four years after Sputnik, and [the first commercial satellite, Telstar
1, was launched in
1962](https://www.nasa.gov/topics/technology/features/telstar.html).

And then there was OTRAG. OTRAG was a private rocket company founded in 1975
by Lutz Kayser, a German entrepreneur. The intent was to build low-cost
rockets an order of magnitude cheaper than existing rockets. Amazingly, Kayser
succeeded! But, [but the history is
tragic](http://www.astronautix.com/o/otrag.html).

> Kayser's activities made the great powers nervous. The USSR and France were
not interested in Germany achieving an indigenous long-range rocket activity.
American rocket makers were not interested in having a low-cost competitor. A
propaganda campaign began, alleging OTRAG was a cover for German and South
African nuclear cruise missile development. Crude Soviet-source disinformation
was eagerly picked up and given credibility by the American mainstream media.
The government of the Congo, [where OTRAG was launching from], was pressured
by the Russians to withdraw permission to use the site. OTRAG left the country
in April 1979.

They relocated to Libya, but the Libyan government seized their rockets in an
attempt to create their own rocket program. Fortunately, without Kayser's
experience, they failed, and the dream of private spaceflight failed with it.

[There's a decent Wikimedia page that sums up the history of private
spaceflight](https://en.wikipedia.org/wiki/Timeline_of_private_spaceflight),
but mostly, the nascent industry sputtered along in fits and starts, usually
followed by bankruptcy.

It wasn't until the 21st century that the private rocket industry exploded.[%
Ovid.add_note("Sorry, I couldn't resist that.") %]

Now, everything is changing, but what's going to change? To understand that,
we have to know a bit about the evolution of markets.

# The Four Phases of Market Evolution

**Note**: much of the following is derived from the work of [Simon
Wardley](https://blog.gardeviance.org/), but I've adjusted some of the
terminology.

Markets (and new products within them) tend to evolve through four maturity
phases. Each has unique characteristics and should be treated differently.
This is boring for most, but it's important. These phases are:

## Novelty Phase

This is the "gee whiz" phase, where a new and exciting idea emerges and people
begin to wonder what can be done with it. For example, when online shopping
first emerged, people wondered if you could sell clothes, food, or cars
online. Would people trust you with their credit card information? Was there
really a market for people buying goods from faceless, anonymous entities
online? We know the answers now, but we didn't then.

## Stability Phase

This is the phase when people start to understand what they can do with a
given product. The focus shifts from what can be done to how to do it.
Remember all those "how to build a shopping cart" books and articles in the
late '90s and early '00s? This was online shopping transitioning from novelty
to stability.

## Commodity Phase

This phase kicks in when the market has stabilized enough that for most
companies, building their own version of a product doesn't make economic
sense. Instead, there are enough competing products out there that acquiring
the product off-the-shelf is simpler and cheaper.

## Utility Phase

This is where you no longer purchase a product, but you consume it as needed,
just as you would with electricity. Shopify, Etsy, and many other e-commerce
utility solutions are readily available.

# What Does This Mean for Private Spaceflight?

For private spaceflight, the "novelty phase" was when entrepreneurs started to
see potential, but it's very high-risk, high-reward. As first movers, if they
succeed (most did not, of course), they can reap tremendous benefits. This is
why Elon Musk regularly tops the lists of the world's richest people.

As we move from novelty to stability to commodity to utility, we see risk
gradually decreasing:

[% INCLUDE include/image.tt
   src      = "/static/images/market-maturity-risk.jpg"
   caption  = "Novel markets are very high-risk."
   alt      = "A chart showing how market risk decreases with maturity."
%]

Why does risk decrease? There are various factors, including customers
becoming more comfortable with the market and having new ideas how they can
utilize the market. But to succeed in this evolution, the products in that
market must be _reliable_. Would you buy a cell phone that only has service
50% of the time? Probably not.

What this means is that the products in the market gradually grow more stable:

[% INCLUDE include/image.tt
   src      = "/static/images/market-maturity-stability.jpg"
   caption  = "Stable markets are very predictable."
   alt      = "A chart showing how product stability increases with maturity."
%]

Now [compare this with air travel](https://www.mackinac.org/V2003-30):

> In the industry’s embryonic era, accidents were disturbingly numerous.
> Ironically, 1929, the year of “The Great Crash,” was also one of the most
> crash-ridden in aviation history, with 24 fatal accidents reported. In both
> 1928 and 1929, the overall accident rate was about one per every million
> miles flown. In today’s system, an accident rate of that magnitude would
> result in a nearly incomprehensible 7,000 fatal accidents each year.

In 2017, [there were no recorded deaths of passengers in commercial passenger
jets](https://www.reuters.com/article/us-aviation-safety-idUSKBN1EQ17L). In
2007, a National Safety Council's recent [odds-of-dying
data](https://injuryfacts.nsc.org/all-injuries/preventable-death-overview/odds-of-dying/)
reports that you have a 1 in 107 chance of dying in a car crash. Airline
passenger? "Too few deaths in 2019 to calculate odds."

But what about spaceships? Astronaut Chris Hadfield reports that in 1981, you
had a 1 in 9 chance of dying in a space shuttle launch. By 1995, the odds of
dying had already dropped to 1 in 38.

[% Ovid.youtube('mhpFpHLCuEA') %]

Today, no astronauts have died since [the 2003 Columbia space shuttle
disaster](https://www.britannica.com/event/Columbia-disaster). (Note: [the
last cosmonauts to die in space were in
1971](https://astronomy.com/news/2021/06/remembering-the-crew-of-soyuz-11-the-only-astronauts-to-die-in-space)).
Though in one bizarre incident, [an astronaut almost drowned on a July, 2013
spacewalk](https://abcnews.go.com/US/astronaut-drowned-space-due-nasas-poor-communication-report/story?id=22687977).

That doesn't mean spaceflight is suddenly safe, but it's far safer than it
ever has been and it's getting safer all the time. 

# Spaceflight is Entering the Stability Phase

Long viewed as a novelty, spaceflight is entering the stability phase. It's
not there yet, but it's on the verge and SpaceX is leading the way. While the
novelty phase offers higher rewards, its risk level is too high for all but
the most informed (and wealthy) investor. However, when the stability phase is
entered, the market has begun to solidify, the products are becoming trusted,
more investors can understand the market, and the risk has dropped
tremendously. Of course, the reward has dropped, too, but that seems a fair
trade-off.

[% INCLUDE include/image.tt
   src      = "/static/images/blue-moon-lander-deflated.jpg"
   alt      = "Blue Origin's Blue Moon lander, deflated."
   caption  = "Symbolism."
   position = "left"
%]

However, particularly if we're viewing things through a capitalist lens, it's
hard to argue that a market is "stabilizing" if there's only one real
supplier. Blue Origin, despite their recent suborbital tourist flights, [is
struggling](/blog/jeff-bezos-1000-problems.html). Due to poor performance,
[investors worry about Virgin
Galactic](https://www.investors.com/news/spce-stock-buy-now/) and the new
lawsuit against Richard Branson and Virgin Galactic chairmain Chamath
Palihapitiya over [allegedly dumping shares while covering up spaceship
defects](https://markets.businessinsider.com/news/stocks/chamath-palihapitiya-richard-branson-virgin-galactic-lawsuit-sued-insider-information-2022-3)
is not going to help matters.

Roscomos, the state-owned Russian space company has long struggled financially
and [recently announced steep budget
cuts](https://arstechnica.com/science/2021/10/putin-slashes-russias-space-budget-and-says-he-expects-better-results/)
are not going to help. [Private Russian spaceflight company Dauria is fighting
bankruptcy](https://rusbankrot.ru/en/bankruptcy-and-liquidation/private-russian-space-company-dauria-may-go-bankrupt/).
French company Arianespace [reported a 30% increase in 2021
revenue](https://www.spaceintelreport.com/arianespace-reports-30-boost-in-2021-revenue-to-1-4-billion-on-50-more-launches/)
but their lack of reusable rockets and their promised reusable "Prometheus"
engine (to be first launched eight years from when I'm writing) being delayed
means they're falling further and further behind SpaceX.  Worse, the impending
arrival of Starship means [Arianspace is in serious
trouble](https://www.fool.com/investing/2021/06/01/ariane-and-europe-fall-farther-behind-spacex/).

So with them not going anywhere, what happens if SpaceX collapses? [Elon Musk
has already warned his employees about potential bankruptcy if it can't speed
up
production](https://www.business-standard.com/article/international/elon-musk-warns-employees-of-potential-spacex-bankruptcy-121120100660_1.html)
(though he later admitted this was unlikely). But I've talked to plenty of
people about the space industry and most of them are unaware of the numerous
successful competitors out there.

Virgin One was spun off from Virgin Galactic and shortly after its [first
successful launch of seven
satellites](https://www.theverge.com/2022/1/13/22880143/virgin-orbit-launcherone-747-cosmic-girl-air-launch-small-satellites)
announced that [NASA put them on their short list of satellite launch
providers](https://www.fool.com/investing/2022/01/27/why-virgin-orbit-stock-rocketed-higher-on-thursday/).
This doesn't guarantee they'll be selected for launches, but the private
sector is watching them. They can't launch very large satellites, but [their
launches are only $12 to $15 million per
launch](https://arstechnica.com/science/2021/07/virgin-orbit-suddenly-has-a-viable-rocket-so-what-comes-next/).
They're a force to watch.

[Rocket Lab is also looking very
competitive](https://www.cnbc.com/2021/12/02/rocket-lab-reusable-neutron-rocket-update-competing-with-spacex.html):

> Rocket Lab’s small Electron rocket goes for about $7 million per launch,
> Firefly’s medium-sized Alpha rocket goes for $15 million per launch, and
> SpaceX’s Falcon 9 is advertised at $62 million per launch.

There's also [UP Aerospace](https://www.upaerospace.com/), [United Launch
Alliance](https://www.ulalaunch.com/),
[SpaceForest](https://www.ulalaunch.com/) (services starting in 2023), and
many others starting development.

The market is booming, and stabilizing. Customers can now choose between a
wide varieties of rockets with different payload sizes and price points, but
there's still a huge amount of risk and it will be a couple of decades before
we can even think we'll get close to the commodity stage.

# Starship Changes Everything

A few years ago, a friend in Nottingham told me she wanted
to spend the weekend in Ireland, so be bought a plane ticket. When she changed
her mind, she threw away the ticket. It was only £20.

For the space shuttle, [the average cost per launch for the last decade was
around one billion dollars](https://www.nature.com/articles/472038d). For
Starship, [Musk expects launch prices of less than ten million within two to
three
years](https://www.businessinsider.com/elon-musk-spacex-starship-rocket-update-flight-cost-million-2022-2).
Eventually, he projects those prices could be less than a million dollars a
launch.

In contrast, [the Concorde's inaugural 1973 flight from Paris to Rio de
Janeiro](https://www.britannica.com/technology/Concorde), roughly 5,700 miles
(9173 km), operating at [a cost per flight of up to $5.20 per
mile](https://books.google.fr/books?id=nCjsAAAAMAAJ&pg=RA2-PA223&lpg=RA2-PA223&dq=cost+%22per+flight%22+concorde&source=bl&ots=BN_R-OUbOF&sig=ACfU3U0YVecR5fUTr8PKSEY2ZOoHrS3OQQ&hl=en&sa=X&ved=2ahUKEwj-tbPSwbj2AhUCZcAKHSczA9oQ6AF6BAgdEAM#v=onepage&q=cost%20%22per%20flight%22%20concorde&f=false),
could be looking at just shy of $30,000 for that flight. Adjusted for
inflation, that's almost $190,000 today. However, the $5.20 figure was for a
1972 estimate. In reality, the Concorde was subject to wild cost overruns, so
a $190,000 flight cost is certainly low.[% Ovid.add_note('In reality, airline
flights are typically measured in "cost per block hour" and that includes many
things such as fuel, wages, food, maintenance, insurance, advertising, rental
charges, and so on. I couldn’t even begin to calculate that for Starship.')
%].

That Starship may not be significantly more expensive than a Concorde is
mind-boggling. [The fact that Starship might actually cheaper than planes for
long-haul flights is even more
mind-boggling](https://www.nextbigfuture.com/2022/02/spacex-reusable-rocket-costs-versus-airplanes.html).

# What the Future Holds

[% Ovid.youtube('-Oox2w5sMcA') %]

## New Industries

## Mining in Space

## Disruptive Uses?

Space internet

Energy generating space stations

## Be Patient

Not Internet Speeds of Advancement

It's not going to impact us directly. No buying a cheap $100 flight to an
orbital hotel.

[%- END %]
